<html>
    <head>
        <link rel="stylesheet" href="public/styles/styles.css" />
    </head>
    <body>
        This is Aditya's Nodejs Project . I am from achham. I live in bhaktapur, suryabinayak, mubhjoo. I want to be devops engineer. I want to work in a cloud based company.
    </body>
</html>
