<html>
    <head>
        <link rel="stylesheet" href="public/styles/styles.css" />
    </head>
    <body>
        This is Aditya's Nodejs Project . I am from achham. I live in bhaktapur.
    </body>
</html>
